<!-- email element for blogs which show complete blog  -->
<%- blog = newsletter_item.target %>
<% cache "#{blog.title}-#{blog.updated_at}" do %>
  <table cellpadding="0" cellspacing="0" border="0" width="88%" style="width: 88% !important; min-width: 88%; max-width: 88%; background: #f5f8fa;  padding: 20px; margin-top: 20px;">
    <tr>
      <td></td>
      <td></td>
      <td align="right">
        <div style="height: 14px; font-size: 14px;"><%= blog.published_at.strftime("%b %e, %Y %l:%M %p") %></div>
      </td>
    </tr>
     <tr>
        <td align="left" valign="top" style="width: 100px" >
          <font  color="#333" style="font-size: 14px;">
            <span style="color: #333; font-size: 14px; line-height: 14px;">
              <%= image_tag('https://static.wixstatic.com/media/e721f4_9588ce9963984f179a057542efbc4604~mv2.png/v1/fill/w_160,h_46,al_c,lg_1,q_85,enc_auto/Group%201558.png', alt: 'mny-cap', style: 'width: 60px; height: 40px;') %>
            </span>
          </font>
        </td>
        <td align="left" valign="top" style="width: 200px">
          <a href="#" target="_blank" style="text-decoration: none;">
            <font color="#1a1a1a" style="font-size: 24px; line-height: 24px;">
              <span style="color: #1a1a1a; font-size: 18px; line-height: 24px;">
                <%= blog.stock.name %>
              </span>
            </font>
          </a>
          <div>
            <span style="color: green; font-size: 18px; line-height: 24px;">
              ₹ <%= blog.stock.price %>
            </span>
          </div>   
        </td>
        <td align="left" valign="top" >
          <a href="<%= blog_url(blog, host: ENV.fetch('HOST')) %>" target="_blank" style="text-decoration: none;">
            <font color="#1a1a1a" style="font-size: 24px; line-height: 24px;">
              <span style="color: #1a1a1a; font-size: 24px; line-height: 24px;">
                <%= blog.title %>
              </span>
            </font>
          </a>

          <div style="height: 14px; line-height: 14px; font-size: 14px;">&nbsp;</div>
          <font  color="#333" style="font-size: 14px;">
            <span style="color: #333; font-size: 14px; line-height: 14px;">
              <%= blog.body.html_safe %>
            </span>
          </font>
          <div style="height: 14px; font-size: 14px;"><%= link_to 'read more', blog_url(blog, host: ENV.fetch('HOST')) %></div>
        </td>
     </tr>
  </table>
<% end %>
